/*
    the * selector selects ALL the elements
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.first {
  color: brown;
}

.second {
  color: green;
}

#tinyHeading {
  color: slateblue;
}

input {
  background-color: yellow;
  border: darkblue;
  margin-top: 10px;
  text-align: center;
}
